<!DOCTYPE html>
<html>
  <head>
    <title>FlickrClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-inverse bg-inverse">
      <a class="navbar-brand" href="#">Dashboard</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/images/new">Add Image</a>
          </li>
          <li class="nav-item">
            <%= link_to 'User Profile', current_user, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
        </ul>
        <span class="navbar-brand">
          <% if current_user %>
            <%= current_user.name %> | <%= link_to "Sign out", '/signout', class: 'user-button' %>
          <% else %>
            <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin', class: 'user-button' %>
          <% end %>
        </span>
      </div>
    </nav>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Flick Clone</h1>
        <p class="lead text-muted">Share Your Image Today</p>
        <p>
          <a href="#" class="btn btn-primary">Sign Up</a>
          <a href="#" class="btn btn-secondary">Sign In</a>
        </p>
      </div>
    </section>
    <div class="container">

      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
